# Misc
*.pyc
*/debug.py
*/tutorial.py

# Data
data/*/*
*/data

*.mid

*.npy
*.npz
*.hi

*.json
*.jsonl
*.csv

*.jpg
*.png

# Models
*.bin
*.pt

# Outputs
results/checkpoints/*/*
results/outputs/*/*
results/runs/*/*

# sh
*.err
*.out